h1{
  top: -.1em;
  left: -.1em;
  background: linear-gradient(90deg, var(--blue), var(--magenta));;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description_panel{
    background: url("../images/dango_collage.jpg");
    background-size: 26em;
}

#prep{
    background: var(--blue);
}
#instructions_panels, #components_con{
    background: var(--green);
}
#components_con{
    border-color: var(--purple);
}
#components p{
  background: var(--orange);
}
#components{
    padding: 0 .2em 0 .5em;
}
#components-extra p:first-child{
  color: var(--purple);
}
#components-extra p:nth-child(2){
  color: var(--red);
}
#components-extra p:nth-child(3){
  color: var(--orange);
}
#components-extra p:nth-child(4){
  color: var(--yellow);
}
#components-extra p:last-child{
  color: var(--blue);
}


#assembly_con{
    background: var(--yellow);
}
#assembly p, a{
    color: var(--magenta);
}
a:hover{
    color: var(--green);
}

#edge_panel{
    background: -webkit-linear-gradient(90deg, var(--purple), var(--magenta));
}