body{
  overflow: hidden;
  background: -webkit-linear-gradient(0deg, transparent 35vw, cyan 35vw), url("../images/japan1.jpg") no-repeat;
  background-size: auto 100vh;
}
h1, p{
  font-family: sans-serif;
  padding-left: .7em;
/*   font-size: 5rem; */
  font-size: clamp(3rem, 4.5vw, 7rem);
  user-select: none;
  line-height: 1em;
  text-shadow: -1px 2px white;
  white-space: nowrap;
}
ul{
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  right: -6rem;
  list-style: none;
  font-family: var(--MPlus1);
/*   font-size: 19rem; */
  font-size: clamp(10rem, 16vw, 19rem);
  line-height: 1em;
  text-align: right;
  white-space: nowrap;
  transform: rotate(-21deg);
}
a{
  text-decoration: none; 
  background: linear-gradient(90deg, var(--red), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li:nth-child(2) a{
  background: linear-gradient(90deg, var(--orange), var(--green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li:nth-child(3) a{
  background: linear-gradient(90deg, var(--blue), var(--magenta));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li a:hover{
  background: var(--red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}