h1{
  background: linear-gradient(90deg, var(--orange), var(--green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description_panel{
  background: url("../images/ramen_collage.jpg");
  background-size: 25em;
}

#prep{
  background: var(--yellow);
}

#instructions_panels, #components_con{
  background: var(--cyan);
}
#components_con{
  border-color: #a349fc;
}
#components{
  padding: 0 .3em 0 1em;
}
#components ul{
  font-size: 1.3em;
}
#components-extra{
  margin-right: 1em;
}
#components-extra p:first-child{
  color: var(--blue);
}
#components-extra p:nth-child(2){
  color: var(--purple);
}
#components-extra p:nth-child(3){
  color: var(--red);
}
#components-extra p:nth-child(4){
  color: var(--orange);
}
#components-extra p:last-child{
  color: var(--yellow);
}

#assembly_con{
  background: var(--magenta);
}

#assembly p, a{
  color: blue;
}
a:hover{
  color: var(--green);
}

#edge_panel{
  background: -webkit-linear-gradient(90deg, var(--yellow), var(--green));
  width: 180px;
}