body{
  font-family: sans-serif;
}
h1{
  font-family: var(--MPlus1);
  /*   font-size: 18rem; */
  font-size: clamp(12rem, 15vw, 18rem);
  top: -.15em;
  left: -.15em;
  position: fixed;
  line-height: 1em;
  z-index: 1;
}

#page_con{
  display: flex;
  font-size: clamp(11px, .83vw, 18px);
}

/* description panel */
#description_panel{
  flex: 1 1 0; 
  overflow: hidden;
  writing-mode: vertical-lr;
  text-align: center;
  font-size: 1.5em;
}
#description_panel p{
  transform: rotate(180deg);
}


/* instructions panel */
#instructions_panels{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

/* prep con */
#prep_con{
  height: 0;
}
#prep{
  position: relative;
  top: 250px;
  left: -100px;
  border-radius: 100%;
  width: 13em;
  height: 13em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  line-height: 1.5em;
  z-index: 1;
}
#prep_con b{
  font-family: arial black;
}

/* components con */
#components_con{
  flex: 2;
  display: flex;
  align-items: center;
  /*! justify-content: flex-end; */
  border: .4em dashed black;
  margin: 1em;
  overflow-x: visible;
}
#components_body{  
  /*! box-sizing: content-box; */
  writing-mode: vertical-rl;
  text-orientation: sideways;
  width: 66em;
  height: 20em;
  padding: .5em 0;
}
#components{
  margin: 2em .8em 2em -1em;
}
ul{
  margin: 0 0.3em 0 .5em;
  font-size: 1.1em;
}
h2, #components-extra{
  font-size: 5.6em;
  font-family: arial black;
  transform: scaleY(.5);
  transform-origin: 0 0;
  line-height: .9em;
}
#components p, #assembly p{
   font-family: serif;
   font-weight: bold;
   font-size: 1.6em;
}

/* assembly con */
h3{
  display: none;
}
#assembly_con{
  flex: 2;
  column-count: 2;
  padding: 1em 2em;
  border: 2.6em solid white;
  border-image-source: url(../images/assembly_border.png);
  border-image-repeat: repeat;
  border-image-slice: 140; 
}
ol{
    margin: 0 2em;
  }
ol li{
  line-height: 1.2em;
}
/* edge panel */
#edge_panel{
  flex: 0 1 9em;
}

/* back button */
a{
  /*   font-size: 10rem; */
  font-size: clamp(8rem, 8.5vw, 10rem);
  text-decoration: none;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: -50px;
  transform: rotate(-25deg);
}