body{
  font-family: sans-serif;
}
ol{
  margin: 0 2rem;
}
ul{
  padding-top: 2rem;
}
h1{
  font-family: var(--MPlus1);
  font-size: 18rem;
  top: -40px;
  left: -40px;
  position: fixed;
  line-height: 1em;
  z-index: 1;
}

#page_con{
  display: flex;
  height: 100vh;
}


#description_panel{
  width: 500px;
  overflow: hidden;
  flex: 1;
}
#description_panel p{
  writing-mode: vertical-rl;
  color: black;
  font-size: 1.5rem;
}


#instructions_panels{
  background: var(--yellow);
  flex: 2;
  display: flex;
  flex-direction: column;
}


#prep_con{
  height: 0;
}
#prep{
  position: relative;
  top: 250px;
  left: -100px;
  padding:  20px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5em;
  z-index: 1;
}
#prep_con b{
  font-family: arial black;
}


#components_con{
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
  padding: 5px;
}
#components{
  padding: 25px 6px;
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
#components ul{
  margin: 0 0.3em 0 .5em;
  font-size: 1.1rem;
}
#components p, #assembly p{
  font-family: serif;
  font-weight: bold;
  font-size: 1.6em;
}
#components_header{
  z-index: 0;
  font-size: 3rem;
  text-align: center;
  writing-mode: vertical-rl;
  font-family: arial black;
  transform: scaleX(2);
}


h3{
  display: none;
}
.border{
  background-image: url("../images/assembly_top.png");
  background-size: 265px;
}
#border-left{
  background-image: url("../images/assembly_left.png");
  background-size: auto 265px;
  background-position: bottom;
}
#border-right{
  background-image: url("../images/assembly_right.png");
  background-size: auto 265px;
}
#border-bottom{
   background-image: url("../images/assembly_bottom.png");
}
#assembly_con{
  padding: 0;
  flex: 1.5;
  display: flex;
  justify-content: space-between;
}
#assembly_mid{
  display: flex;
  flex-direction: column;
}
#assembly{
 column-count: 2;
  flex: 1;
  padding: 1em 2em;
}


#edge_panel{
  width: 180px;
}


a{
  font-size: 10rem;
  text-decoration: none;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: -50px;
  transform: rotate(-25deg);
}
