body{
    font-family: sans-serif;
  }
  ol{
    margin: 0 2rem;
  }
  ul{
    padding-top: 2rem;
  }
  h1{
    font-family: var(--MPlus1);
  /*   font-size: 18rem; */
    font-size: clamp(12rem, 15vw, 18rem);
    top: -.15em;
    left: -.15em;
    position: fixed;
    line-height: 1em;
    z-index: 1;
  }
  
  #page_con{
    display: flex;
    height: 100vh;
  }
  #description_panel, #instructions_panels, #prep_con{
    font-size: clamp(12px, .83vw, 16px);
  }
  
  
  #description_panel{
    /*! width: 500px; */
    overflow: hidden;
    /*! flex: 1 1 40vw; */
  }
  #description_panel p{
    writing-mode: vertical-rl;
    color: black;
    font-size: 1.5rem;
  }
  
  
  #instructions_panels{
    background: var(--yellow);
    /*! flex: 1 2 50vw; */
    display: flex;
    flex-direction: column;
  }
  
  
  #prep_con{
    height: 0;
  }
  #prep{
    position: relative;
    top: 250px;
    left: -100px;
    border-radius: 100%;
    width: 13em;
    height: 13em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    line-height: 1.5em;
    z-index: 1;
  }
  #prep_con b{
    font-family: arial black;
  }
  
  #components_con{
  /*! flex: 1; */
  /*  display: flex; */
  /*   align-items: center; */
  /*   flex-direction: row-reverse; */
  /*   margin: .5em; */
  /*   padding: .3em;   */
    writing-mode: vertical-rl;
    text-orientation: sideways;
    border: 5px dashed black;
  }
  #components{
    
  }
  #components ul{
    margin: 0 0.3em 0 .5em;
    font-size: 1.1em;
  }
  #components p, #assembly p{
  /*   font-family: serif; */
  /*   font-weight: bold; */
  /*   font-size: 1.6em; */
  }
  #components_header, #components-extra{
  /*   z-index: 0; */
    
  /*   flex: 1; */
  }
  #components-extra{
  /*  display: flex; */
  }
  h2, #components-extra p{
  /*   font-size: 6em;  */
  /*   writing-mode: vertical-rl; */
  /*   font-family: arial black; */
  /*   transform-origin: 0 0; */
  /*   transform: scaleY(.5); */
  /*   line-height: 1em;  */
  /*   height: 3.4em; */
  }
  
  
  #components-extra p:first-child{
    color: var(--red);
  }
  #components-extra p:nth-child(2){
    color: var(--orange);
  }
  #components-extra p:nth-child(3){
    color: var(--green);
  }
  #components-extra p:nth-child(4){
    color: var(--blue);
  }
  #components-extra p:last-child{
    color: var(--purple);
  }
  
  h3{
    display: none;
  }
  #assembly_con{
    flex: 1;
    column-count: 2;
    padding: 1em 2em;
    border: 3em solid black;
    border-image-source: url(../images/assembly_border.png);
    border-image-repeat: repeat;
    border-image-slice: 140;
  }
  
  
  #edge_panel{
    flex: 0 1 8vw;
  }
  
  
  a{
  /*   font-size: 10rem; */
    font-size: clamp(8rem, 8.5vw, 10rem);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: -50px;
    transform: rotate(-25deg);
  }