h1{
  background: linear-gradient(90deg, var(--red), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description_panel{
  background: url("../images/takoyaki_collage.jpg");
  background-size: 30em;
}

#prep{
  background: var(--red);
}

#instructions_panels, #components_con{
  background: var(--yellow);
}
#components_con{
  border-color: var(--blue);
}
#components p{
  background: var(--green);
}
#components-extra p:first-child{
  color: var(--red);
}
#components-extra p:nth-child(2){
  color: var(--orange);
}
#components-extra p:nth-child(3){
  color: var(--green);
}
#components-extra p:nth-child(4){
  color: var(--blue);
}
#components-extra p:last-child{
  color: var(--purple);
}


#assembly_con{
  background: var(--cyan);
}
#assembly p, a{
  color: var(--purple);
}
a:hover{
  color: var(--red);
}


#edge_panel{
  background: -webkit-linear-gradient(90deg, var(--blue), var(--purple));
}